body
    .application
      padding: 10px
    #mortgage-form
      max-width: 600px
      margin: 100px auto
    .application.theme--light
      background: transparent
    .application--wrap
      min-height: auto
    div[role="slider"]
      padding: 0 !important 
    .flex
      padding: 0 10px !important
      .badge
        span:last-child
          font-size: 10px !important
          font-weight: bold !important
    .flex.maturity
      margin-top: 10px !important
    label 
      color: rgba(0,0,0,.54)
      font-size: 12px